
*{
    background-color: lightgray;
    
}
    h1
{
    text-align: center;
    color: blueviolet;
    font-family:"Roboto condensed";
}
.box 
{
    text-align: center;
}


.images
{
    
    float: left;
    
    padding:65px;
    width: 250px;
    height: 250px;
}
.row
{
    display: inline-flex;
    align-items: center;
}

.images img
{
   height: 100%;
    width: 100%;
    border-radius: 8px;
    
   
}

.text
{
    text-align: center;
    padding: 15px;
    color: chocolate;
    font-family:"Raleway";
}

.page h2
{
     text-align: left;
     font-size: "Roboto condensed";
     color: darkgoldenrod;
}

.pics 
{
    display: flex;
    justify-content: center;
    
    
}
.page
{
    margin-left: 400px;
    margin-right: 400px;;
}

.pics img
{
   width:100%;
} 



.txt {
    font-family:"Raleway";
    color:dodgerblue;
    text-align: justify;
    
}