body{
    width: 100vw;
    background-color: lightgray;
}
    h1
{
    text-align: center;
    color: blueviolet;
    font-family:"Roboto condensed";
}
.box 
{
    text-align: center;
}


.images
{
    
    float: left;
    
    padding:65px;
    width: 250px;
    height: 250px;
}
.row
{
    display: inline-flex;
    align-items: center;
    margin-top: 65px;
}

.images img
{
   height: 100%;
    width: 100%;
    border-radius: 8px;
    
   
}

.text
{
    text-align: center;
    padding: 15px;
    color: chocolate;
    font-family:"Raleway";
}


/* Task_2 Css Styles*/
.page h2
{
     text-align: left;
     font-size: "Roboto condensed";
     color: darkgoldenrod;
}

/*.pics 
{
    display: flex;
    justify-content: center;
    
    
}



.pics img
{
   width:100%;
} 
*/

/*.page
{
    margin-left: 400px;
    margin-right: 400px;
    
}*/



/*Task_3 Css Styles*/
.container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 80vw !important;
}

/*.icon
{
    grid-column: 1 /span 2;
    grid-row: 1;
}
*/

.page
{
    grid-column: 1;
    grid-row: 2;
    margin-top: 100px;
}

.aside
{
    grid-column: 2 ;
    grid-row: 2;
    margin-top: 100px;
}

.video
{
    margin-left: 150px;
    margin-right: 150px;
}
.video .txt {
    font-family:"Raleway";
    color:dodgerblue;
    text-align: justify;
}
.imgX
{
    display: flex;
  background-size: contain;
  justify-content: space-between;
  width: 100%;
   height:100%;
   
}

.imgX img
{
   width: 380px;
   height:350px;
   border-radius:8px;
   
   
}

.aside .side-image 
{
    padding: 20px;
}

.side-image img{
    width: 250px;
    height: 350px;
    border-radius:8px;
}
.side-image iframe{
    width:250px ;
    height: 350px;
    border-radius:8px;
    
}
/* Task_4 Css Styling */
.nav-bar
{
    display: flex;
    justify-content: space-between;
    background-color: tan;
    align-items: center;
    grid-column: 1 /span 2;
    grid-row: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: fixed;
    height: 65px;
    top: 0;
    right: 0;
    left: 0;
}
.logo
{
    margin-left: 10px;
    
}

.nav {
    margin-right: 280px;
    font-size: 20px;
    
}
.nav a {
    text-decoration: none;
    padding: 20px;
}
.nav a:link
{
    color: red;
}
.nav a:visited
{
    color:seagreen;
    
    
}

.nav a:hover
{
    color: salmon;
    font-size: 22px;
}

.nav a:active
{
    color: slateblue;
}

.contact
{
    text-align: center;
    margin-top: 100px;
    
}




