*{
    background-color: lightgray;
}
    h1
{
    text-align: center;
    color: blueviolet;
    font-family:Arial, Helvetica, sans-serif;
}
.box
{
   margin-left: 55px;

}

.images
{
    
    float: left;
    
    padding:65px;
    width: 250px;
    height: 250px;
}

.images img
{
   height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}

.text
{
    text-align: center;
    padding: 15px;
    color: chocolate;
}

